@model LibraryManagement.tblLibrary

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<h2>Create</h2>

<div class="row">
    <div class="col-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>tblLibrary</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                    <div class="alert alert-success">@TempData["msg"]</div>
                </div>
            </div>
        }

    </div>
    <div class="col-8">
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        ContactNo
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<tblLibrary>)ViewBag.lbrlist)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.ContactNo
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>


<script src="~/Script/jquery-3.6.0.js"></script>
<script src="~/Script/jquery.validate.js"></script>
<script src="~/Script/jquery.validate.unobtrusive.min.js"></script>